In [1]:
import pandas as pd
import numpy as np
import datetime

In [4]:
df = pd.read_csv('sp500_minute_data.csv')
df.set_index(['Date', 'Time'], inplace=True)
tradingDay = df.loc['2010-01-01':'2012-12-31']
tradingDay['Log return'] = np.log(tradingDay['Close']/tradingDay['Close'].shift(1))
#tradingDay.to_csv('Data/sp500_minute_LogReturn.csv')

C:\Users\Eakka\AppData\Local\Temp\ipykernel_22540\3327658056.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tradingDay['Log return'] = np.log(tradingDay['Close']/tradingDay['Close'].shift(1))

In [6]:
tradingDay

                        Open     High      Low    Close  Log return
Date       Time
2010-01-04 08:31:00  1116.56  1122.15  1116.56  1122.15         NaN
           08:32:00  1122.65  1123.80  1122.65  1123.80    0.001469
           08:33:00  1123.96  1124.23  1123.95  1124.23    0.000383
           08:34:00  1124.27  1124.27  1124.05  1124.23    0.000000
           08:35:00  1124.17  1124.29  1124.17  1124.26    0.000027
...                      ...      ...      ...      ...         ...
2012-12-31 15:17:00  1426.19  1426.19  1426.19  1426.19    0.000000
           15:18:00  1426.19  1426.19  1426.19  1426.19    0.000000
           15:19:00  1426.19  1426.19  1426.19  1426.19    0.000000
           15:20:00  1426.19  1426.19  1426.19  1426.19    0.000000
           15:21:00  1426.19  1426.19  1426.19  1426.19    0.000000

[300681 rows x 5 columns]